@import "tailwindcss";

@font-face {
  font-family: 'tiro-bangla';
  src: url('/assets/fonts/TiroBangla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galada';
  src: url('/assets/fonts/Galada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-bangla: "tiro-bangla", "serif"; 
  --font-galada: "galada", "cursive"; 
  --color-app: #00030c;
}

@layer utilities {
  .bg-content-blur {
    @apply bg-gray-900/50 backdrop-blur-sm min-h-full
  }

  .area-wrapper {
    @apply py-5 px-6
  }

  .page-size-A4 {
    @apply w-[210mm] h-[297mm];
  }
}